<%= provide :title, t(".confirmation") %>

<div class="panel panel-default divcenter pnl-login">
  <div class="panel-body login-custom">
    <%= form_for :user, url: user_confirmation_path, method: :post,
      class: "nobottommargin" do |f| %>
      <h3 class="text-center"><%= t ".resend_email" %></h3>

      <div class="col_full">
        <%= f.label :email, class: "login-form-username" %>
        <%= f.email_field :email, class: "form-control not-dark", autofocus: true %>
      </div>

      <div class="col_full nobottommargin">
        <%= f.submit t(".resend_email"),
          class: "button button-3d button-green nomargin pull-right" %>
      </div>
    <% end %>
  </div>
</div>
