<%= provide :title, t(".sign_up") %>

<div class="panel panel-default divcenter pnl-login">
  <div class="panel-body login-custom">
    <%= form_for :user, url: registration_path(:user),
      class: "nobottommargin" do |f| %>
      <h3 class="text-center"><%= t ".sign_up" %></h3>

      <div class="col_full">
        <%= f.label :email, class: "login-form-username" %>
        <%= f.email_field :email, class: "form-control not-dark", autofocus: true,
          required: true %>
      </div>

      <div class="col_full">
        <%= f.label :name, class: "login-form-username" %>
        <%= f.text_field :name, class: "form-control not-dark",
          required: true %>
      </div>

      <%= f.fields_for :info_user_attributes do |info| %>
        <div class="col_full">
          <%= info.label :phone, class: "login-form-username" %>
          <%= info.text_field :phone, class: "form-control not-dark",
            required: true %>
        </div>

        <div class="col_full">
          <%= info.label :gender, class: "login-form-username" %>
          <%= info.select :gender, select_info_user_gender, {},
            class: "form-control not-dark", required: true %>
        </div>

        <div class="col_full">
          <%= info.label :birthday, class: "login-form-username" %>
          <%= info.date_field :birthday, class: "form-control not-dark",
            required: true %>
        </div>

        <div class="col_full">
          <%= info.label :occupation, class: "login-form-username" %>
          <%= info.text_field :occupation, class: "form-control not-dark",
            required: true %>
        </div>
      <% end %>

      <div class="col_full">
        <%= f.label :role, class: "login-form-username" %>
        <%= f.select :role, select_user_role, {},
          class: "form-control not-dark", required: true %>
      </div>

      <div class="col_full password-custom">
        <%= f.label :password, class: "login-form-password" %><br />
        <%= f.password_field :password,
          class: "form-control not-dark", autocomplete: "off", required:true %>
      </div>

      <div class="col_full password-custom">
        <%= f.label :password_confirmation, class: "login-form-password" %>
        <%= f.password_field :password_confirmation, class: "form-control not-dark",
          required: true %>
      </div>

      <div class="col_full nobottommargin">
        <%= f.submit t(".sign_up"),
          class: "button button-3d button-green nomargin pull-right" %>
      </div>
    <% end %>
  </div>
</div>
