<div class="col_full">
  <a href="#edit-name" class="edit-toggle" data-toggle="collapse">
    <h4 class="orange-text"><%= t ".username" %></h4>
    <span class="top-right-edit"><%= t "setting.profiles.click_to_change" %></span>
  </a>
  <div class="black-text" id="name"><%= current_user.name %></div>
  <div id="edit-name" class="collapse">
    <span>
      <%= t "setting.profiles.if_you_dont_want" %>
    </span>
    <%= form_for current_user, url: user_path(current_user),
      method: :patch do |f| %>
      <%= f.text_field :name, class: "form-control" %>
      <%= render "setting/shared/button_group" %>
    <% end %>
  </div>
</div>
