<div class="col_full">
  <a href="#edit-synchronize" class="edit-toggle abc" data-toggle="collapse">
    <h4 class="orange-text"><%= t ".synchronize" %></h4>
    <span class="top-right-edit"><%= t "setting.profiles.click_to_change" %></span>
  </a>
  <div class="black-text"><%= t ".you_can_sync" %></div>
  <div id="edit-synchronize" class="collapse">
    <span>
      <%= t "setting.profiles.if_you_dont_want" %>
    </span>
    <div class="div-synchronize-setting">
      <div class="col-md-10">
        <%= t ".all_data_sync_now" %>
      </div>
      <div class="col-md-2 btn-tms-sync">
        <%= tms_synchronize_button %>
      </div>
      <div class="button-group-edit pull-right">
        <button type="button" class="btn btn-sm btn-default cancel-edit">
          <%= t ".cancel" %>
        </button>
      </div>
    </div>
  </div>
</div>
