<div class="edit-user">
  <div class="panel-body login-custom">
    <h3><%= t ".synchronize" %></h3>

    <div id="row1" class="row-edit">
      <%= render "synchronize" %>
    </div>

    <hr class="hr-edit-user">

    <h3><%= t ".basic_information" %></h3>

    <div id="row2" class="row-edit">
      <%= render "basic_information" %>
    </div>

    <hr class="hr-edit-user">

    <h3><%= t ".detail_information" %></h3>

    <div id="row3" class="row-edit">
      <%= render "detail_information" %>
    </div>
  </div>
</div>
