  <div class="container">
    <%= render "shared/avatar_cover_image", user: current_user %>
    <div class="row">
      <div class="col-md-9">
        <article class="post show-tab-user">
          <%= render "synchronize" %>
        </article>
      </div>
      <div class="col-md-3">
        <article class="post show-tab-user">
          <div class="title-share">
            <button class="fa fa-user-plus edit" data-toggle="modal" data-target="#modal-edit"></button>
            <%= t ".users_shared" %>
          </div>
          <ul>
            <%= render partial: "limit_user", collection: @limit_users,
              locals: {limit_users: @limit_users} %>
          </ul>
          <%= render "setting/share_profiles/modal_edit", users: @users %>
        </article>
      </div>
    </div>
  </div>
