<tr>
  <td></td>
  <td> <%= task.task_name %></td>
  <td><%= task.task_task_type %></td>
  <td>
    <span class="<%= status_color task.status %>"><%= task.status %></span>
  </td>
  <td><%= task.task_description %></td>
</tr>
