<li class="box-message">
  <div class="panel panel-default box-message-body" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).name,
        user_path(conversation.opposed_user user) %>
      <%= link_to "", close_conversation_path(conversation),
        class: "btn btn-default btn-xs pull-right fa fa-remove",
        remote: true, method: :post %>
      <%= link_to "", "", class: "btn btn-default
        btn-xs toggle-window fa fa-crosshairs pull-right" %>
    </div>

    <div class="panel-body">
      <div class="messages-list">
        <ul>
          <%= render "conversations/conversation_content", messages: conversation.messages, user: user %>
        </ul>
      </div>
      <form class="new_message">
        <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
        <input name="user_id" type="hidden" value="<%= user.id %>">
        <textarea name="body" class="form-control"></textarea>
        <input type="submit" class="btn btn-success send" value="<%= t ".send" %>">
      </form>
    </div>
  </div>
</li>
