<section class="job-show-main-section">
  <table class="table table-striped custab wanted-info">
    <tbody>
      <tr>
        <th colspan="2" class="text-center"><%= t ".basic_info_job" %></th>
      </tr>
      <tr>
        <td class="head"><%= t ".look_for" %></td>
        <td>
          <%= Job.human_enum_name :type_of_candidate,
            job.type_of_candidate %>
        </td>
      </tr>
      <tr>
        <td class="head"><%= t ".job_type" %></td>
        <td>
        </td>
      </tr>
      <tr>
        <td class="head"><%= t ".posting_feature" %></td>
        <td>
        </td>
      </tr>
      <tr>
        <th colspan="2" class="text-center"><%= t ".company_info" %></th>
      </tr>
      <tr class="request-more-info-row">
        <th colspan="2">
          <a class=""><i class="icon-question-sign"></i>
            <%= t ".learn_more_info" %>
          </a>
        </th>
      </tr>
    </tbody>
  </table>
</section>
