<div class="border border-primary box-information">
  <% if @user.info_user_introduction.present? %>
    <p><h4 class="profile-title"><%= t ".self_introduction" %></h4></p>
    <div class="self_introduction">
      <%= @user.info_user_introduction %>
    </div>
  <% end %>
</div>

<div class="border border-primary box-information">
  <% if advance_profiles[:skills].present? %>
    <p><h4 class="profile-title"><%= t ".skill" %></h4></p>
    <ul class="list-group">
      <% advance_profiles[:skills].each do |skill| %>
        <li class="list-group-item">
          <span><%= skill.skill_name %></span>
          <span class="pull-right"><%= skill.years %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="projects" class="border border-primary box-information">
  <p><h4 class="profile-title"><%= t ".project" %></h4></p>
  <%= render "course_users", user: @user, courses: advance_profiles[:courses] %>
</div>

<div class="border border-primary box-information">
  <% if advance_profiles[:languages].present? %>
    <p><h4 class="profile-title"><%= t ".language" %></h4></p>
    <ul class="list-group">
      <% advance_profiles[:languages].each do |language| %>
        <li class="list-group-item">
          <span><%= language.language_name %></span>
          <span class="pull-right"><%= language.level %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="border border-primary box-information">
  <% if advance_profiles[:schools].present? %>
    <p><h4 class="profile-title"><%= t ".education" %></h4></p>
    <ul class="list-group">
      <% advance_profiles[:schools].each do |school| %>
        <li class="list-group-item"><%= school.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>
