<%= form_for skill, method: :PATCH, html: {"data-id": skill.id} do |f| %>
  <div class="row">
    <div class="col-md-2"><p><%= t ".name" %></p></div>
    <div class="col-md-10">
      <%= text_field_tag :name, skill.skill_name, disabled: true,
        class: "form-control short-form" %>
    </div>
  </div>

  <div class="row row-margin-top">
    <div class="col-md-2"><p><%= t ".years" %></p></div>
    <div class="col-md-10">
      <%= number_field_tag :years, skill.years, class: "form-control short-form" %>
    </div>
  </div>

  <div class="pull-right">
    <%= button_tag t("button.cancel"), type: :reset,
      class: "btn btn-sm btn-default cancel" %>
    <%= link_to t("button.delete"), skill_user_path(skill), id: skill.id,
      remote:true, class: "delete-skill btn btn-sm btn-danger" %>
    <%= submit_tag t("button.save"), type: :button, class: "btn btn-sm btn-primary update" %>
  </div>
<% end %>
