<% unless trainees.is_user?(current_user) %>
  <div class="col-md-6 show-trainee">
    <li class="li-trainee" >
      <div class="col-md-5-custom">
        <%= link_to user_path(trainees) do %>
          <%= load_user_avatar trainees, class: "img-avatar" %>
        <% end %>
      </div>
      <div class="col-md-7-custom">
        <%= link_to user_path(trainees) do %>
          <span class="weight-bold black-text"><%= trainees.name %></span>
        <% end %>
        <div>
          <span class="style-italic"><%= trainees.info_user_occupation %></span>
        </div>
        <div>
          <%= trainees.info_user_introduction.truncate Settings.list_trainee.info_user_introduction %>
        </div>
        <div class="btn btn-primary  message-button pull-right" id="follow-user-<%= trainees.id %>">
          <%= render "follow_user", user: trainees %>
        </div>
      </div>
    </li>
  </div>
<% end %>
