<%= render "header", user: @user, user_object: @user_object %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article class="post show-tab-user">
          <div class="clearfix">
            <% if check_show_newfeed? @user %>
              <div class="hide-tab hide-tab" id="tab-new-feed">
                <%= render "course_details", user_shared: @user_object.user_shared %>
              </div>
            <% end %>
            <% if @user.is_user? current_user %>
              <div class="clearfix hide-tab" id="tab-suggest-job">
                <%= render "user_job", user: @user, user_object: @user_object %>
              </div>
            <% end %>
            <div class="hide-tab active" id="tab-information">
              <%= render "courses_user", user: @user %>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-4">
        <article class="post show-tab-user">
          <%= tms_synchronize_button %>
          <%= render "social_network", user: @user, info_user: @info_user %>
        </article>
      </div>
    </div>
  </div>
</section>
<div class="user-language-modal"></div>
<div class="user-work-modal"></div>
<div class="user-project-modal"></div>
<div class="portfolio-modal"></div>
<div class="portfolio-modal-image"></div>
<div class="award-modal"></div>
<div class="render-form-user-link-modal"></div>
<div class="form-user-certificate-modal"></div>
<div class="render-form-user-education-modal"></div>
<div class="render-form-user-skill-modal"></div>
<%= javascript_include_tag "users" %>
