<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article class="show-header-user post header-avatar-edit">
        <div class="cover-image">
          <%= load_user_cover @user, class: "img-cover" %>
        </div>
        <a class="navbar-brand avatar-user" href="#" data-toggle="modal"
          data-target="#changeAvatarModal">
          <%= load_user_avatar @user, class: "img-avatar" %>
        </a>
        <span class="site-name"><strong><%= @user.name %></strong></span>
        <span class="occupation">
          <i class="fa fa-briefcase"></i>
          <%= @user.info_user_occupation %>
        </span>
        <% if @user.is_user?(current_user) && user_signed_in? %>
          <ul class="nav nav-tabs nav-tabs-profile-user">
            <li class="active"><a href="#information" data-toggle="tab"><%= t ".information" %></a></li>
            <li><a href="#list-trainees" data-toggle="tab"><%= t ".list_trainees" %></a></li>
          </ul>
        <% end %>
        <div class="request-user">
          <% if !@user.is_user?(current_user) && user_signed_in? %>
            <div class="follow-user btn btn-primary message-button">
              <%= render "follow_user", user: @user %>
            </div>

            <div class="btn btn-default message-button">
              <%= link_to t(".message"), conversations_path(user_id: @user),
                remote: true, method: :post %>
            </div>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <article class="post show-tab-user">
          <div class="clearfix">
            <div class="tab-content">
              <% if check_permission_profile || @user.is_user?(current_user) || @user.share?(current_user) %>
                <div class="tab-pane fade in active" id="information">
                  <%= render "advance_profile", advance_profiles: @advance_profiles %>
                </div>
              <% else %>
                <h1><%= t ".page_error" %></h1>
              <% end %>
              <%= render "users/list_trainee" %>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-3">
        <article class="post show-tab-user">
          <%= render "social_network", user: @user, info_user: @info_user, users: @users %>
        </article>
      </div>
    </div>
  </div>
</section>
<%= render "users/user_info" %>
