<%= provide :title, t(".reset_password") %>

<div class="panel panel-default divcenter pnl-login">
  <div class="panel-body login-custom">
    <%= form_for :user, url: user_password_path, method: :post,
      class: "nobottommargin" do |f| %>
      <h3 class="text-center"><%= t ".reset_password" %></h3>

      <div class="col_full">
        <%= f.label :email, class: "login-form-username" %>
        <%= f.email_field :email, class: "form-control not-dark", autofocus: true,
          required: true %>
      </div>

      <div class="col_full nobottommargin">
        <%= f.submit t(".reset_password"),
          class: "button button-3d button-green nomargin pull-right" %>
      </div>
    <% end %>
  </div>
</div>
