<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article class="show-header-user post header-avatar-edit">
        <div class="cover-image">
          <div class="ico-upload-cover" data-toggle="modal"
            data-target="#changeCoverModal">
            <%= icon "camera" %>
            <span><%= t "users.header.change_cover" %></span>
          </div>
          <%= load_user_cover @user, class: "img-cover" %>
        </div>
        <a class="navbar-brand avatar-user" href="#" data-toggle="modal"
          data-target="#changeAvatarModal">
          <%= load_user_avatar @user, class: "img-avatar" %>
          <div class="icon-upload-avatar">
            <h3 class="glyphicon glyphicon-camera"></h3>
          </div>
        </a>
        <span class="site-name"><b><%= @user.name %></b></span>
        <span class="occupation">
          <i class="fa fa-briefcase"></i>
          <%= @user.info_user_occupation %>
        </span>
      </article>
    </div>
  </div>
</div>
<%= render "users/change_avatar", user: @user %>
<%= render "users/change_cover", user: @user %>
