<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".looking_for" %>
    <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.select :type_of_candidates, Job::TYPEOFCANDIDATES,
      {selected: job.type_of_candidates}, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".hiring_type" %>
    <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <ul class="collection-wrapper">
      <%= f.collection_check_boxes :hiring_type_ids, hiring_types,
        :id, :name do |hiring_type| %>
        <li>
          <%= hiring_type.check_box %>
          <%= hiring_type.text %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".who_can_apply" %>
    <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <ul class="collection-wrapper">
      <% Job.who_can_applies.keys.each do |type| %>
        <li>
          <%= f.radio_button :who_can_apply, type %>
          <%= t ".#{type}" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="form-group job-list-skills">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">
    <%= t ".skill_require" %>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :list_skills, id: "job_list_skills", autocomplete: false,
      placeholder: t(".job_list_skills"), class: "form-control" %>
    <i class="fa fa-spinner form-control-feedback fa-spin slow-spin hide fa-2x"></i>
  </div>
</div>

<%= f.fields_for :images do |ff| %>
  <div class="form-group form-inline">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".image" %>
    </label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="custab job-image">
        <%= ff.file_field :picture, id: "load-file", class: "change-image" %>
        <div class="img-default-size">
          <%= image_tag Settings.jobs.image_url, size: Settings.jobs.image_size,
            class: "img-upload" %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">
      <%= t ".caption" %><span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="custab job-image">
        <%= ff.text_field :caption, class: "form-control caption-image" %>
      </div>
    </div>
  </div>
<% end %>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">
    <%= t ".posting_time" %>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :posting_time, class: "form-control datetimepicker",
      value: format_time(job.posting_time, :format_datetime) %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">
    <%= t ".title" %><span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_field :title, class: "form-control title-job",
      placeholder: t(".placeholder_title") %>
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".description" %>
    <span class="required">*</span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <%= f.text_area :describe, class: "form-control text-job",
      rows: 5, placeholder: t(".placeholder_des") %>
  </div>
</div>
<div class="form-group">
  <div class="col-md-3">
    <a href="#" class="buttonPrevious buttonDisabled btn btn-primary text-right">
      <%= t ".previous" %>
    </a>
  </div>
  <div class="col-md-3 col-md-offset-6">
    <a href="##" class="next-step-2 btn btn-success text-right">
      <%= t "employer.jobs.new.next_step" %>
    </a>
  </div>
</div>
