<div class="modal fade" id="modalJobForm" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".edit" %></h4>
      </div>
      <%= form_for [:employer, company, job], remote: true, authenticity_token: true, html: {class: "form-horizontal form-label-left", multipart: true} do |f| %>
        <div class="modal-body">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
                <%= t ".title" %><span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <%= f.text_field :title, required: true, class: "form-control title-job",
                  placeholder: t(".placeholder_title"), title: job.title %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".description" %>
                <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <%= f.text_area :describe, class: "form-control text-job",
                  rows: 5, placeholder: t(".placeholder_des"), title: job.describe %>
              </div>
            </div>
            <%= f.fields_for :images do |ff| %>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".image" %>
                  <span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="custab job-image">
                    <%= ff.file_field :picture, id: "load-file", class: "change-image" %>
                    <div class="img-default-size">
                      <%= load_image_job job, class: "img-upload image-full-size" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                  <%= t ".caption" %><span class="required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="custab job-image">
                    <%= ff.text_field :caption, class: "form-control caption-image" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".looking_for" %>
                <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <%= f.select :type_of_candidates, Job::TYPEOFCANDIDATES,
                  {selected: job.type_of_candidates}, class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".hiring_type" %>
                <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <ul class="collection-wrapper">
                  <%= f.collection_check_boxes :hiring_type_ids, hiring_types,
                    :id, :name do |hiring_type| %>
                    <li>
                      <%= hiring_type.check_box %>
                      <%= hiring_type.text %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".who_can_apply" %>
                <span class="required">*</span>
              </label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <ul class="collection-wrapper">
                  <% Job.who_can_applies.keys.each do |type| %>
                    <li>
                      <%= f.radio_button :who_can_apply, type %>
                      <%= t ".#{type}" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">
                <%= t ".posting_time" %>
              </label>
              <div class="col-md-5 col-sm-5 col-xs-12">
                <%= f.text_field :posting_time, class: "form-control datetimepicker",
                  value: format_time(job.posting_time, :format_datetime) %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= t ".status" %>
                <span class="required">*</span>
              </label>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <% if job.active? %>
                  <%= f.select :status, Job.statuses.keys, {selected: job.status,
                    disabled: "draft" },  class: "form-control" %>
                <% else %>
                  <%= f.select :status, Job.statuses.keys,
                    {selected: job.status }, class: "form-control" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><%= t ".close" %></button>
          <%= f.submit nil, class: "btn btn-success pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
