<div class="candidate-border table-candidates show-candidates-popup">
  <div class="candidate-padding">
    <h2><%= t ".profile" %></h2>
    <hr class="candidate-bor">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div class="img-default-size">
          <%= load_avatar_candidate @candidate %>
        </div>
      </div>
      <div class="col-sm-9 col-process">
        <p class="candidate-title"><%= t ".name" %></p>
        <p class="candidate-fullname"><%= @candidate.user_name %></p>
        <p>
          <span class="candidate-title"><%= t ".email" %></span>
          <span><%= @candidate.user_email %></span>
        </p>
        <div class="clearfix"></div>
        <p>
          <span class="candidate-title media-meta"><%= t ".interested" %></span>
          <span>
            <%= Candidate.human_enum_name :interested_in,
              @candidate.interested_in %>
          </span>
        </p>
        <div class="media-meta process">
          <span class="candidate-title"><%= t ".process" %></span>
          <strong class="btn btn-<%= @candidate.process.first %> btn-xs">
            <%= Candidate.human_enum_name :process, @candidate.process %>
          </strong>
          <div class="popup-change-status"
            data-candidate-id="<%= @candidate.id %>">
            <%= render "change_process", process: @candidate.process %>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
        <div>
          <%= link_to t(".details_profile"), user_path(@candidate.user_id),
            class: "btn btn-info pull-right" %>
        </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br>
<div class="candidate-border">
  <div class="candidate-padding">
    <h2><%= t ".job_info" %></h2>
    <hr class="candidate-bor">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <div class="img-default-size">
          <%= image_tag @candidate.job.image_url, size: Settings.jobs.image_size %>
        </div>
      </div>
      <div class="col-sm-9">
        <h2 class="candidate-job-title"><%= @candidate.job_title %></h2>
        <p>
          <span class="candidate-title"><%= t ".desc" %></span>
          <span><%= @candidate.job.describe %></span>
        </p>
        <p>
          <span class="candidate-title"><%= t ".type" %></span>
          <span>
            <%= Job.human_enum_name :type_of_candidates,
              @candidate.job.type_of_candidates %>
          </span>
        </p>
        <p>
          <span class="candidate-title"><%= t ".position" %></span>
          <span>
            <% @candidate.job.hiring_types.each do |hiring_type| %>
              <%= hiring_type.name %><%= t ".comma" %>
            <% end %>
          </span>
        </p>
        <p>
          <span class="candidate-title"><%= t ".skill" %></span>
          <span>
            <% @job_skills.each do |job_skill| %>
              <%= job_skill.skill.name %><%= t ".comma" %>
            <% end %>
          </span>
        </p>
      </div>
      <div class="clearfix"></div>
      <input type="hidden" id="company-id" value="<%= @company.id %>">
      <div>
        <%= link_to t(".details_job"), job_path(@candidate.job_id),
          class: "btn btn-info pull-right" %>
      </div>
    </div>
  </div>
</div>
