<div class="modal fade" id="createCompany" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".create_company" %></h4>
      </div>
      <%= form_for Company.new  do |f| %>
        <div class="modal-body">
            <div class="col-md-12">
              <div class="col-md-6 form-group">
                <%= f.label :company_name, class: "label-control" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label :website, class: "label-control" %>
                <%= f.text_field :website, class: "form-control" %>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6 form-group">
                <%= f.label :founder, class: "label-control"%>
                <%= f.text_field :founder, class: "form-control"%>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label :founder_on, class: "label-control"%>
                <%= f.date_field :founder_on, class: "form-control"%>
              </div>
            </div>
            <div class="col-md-12">
              <div class="col-md-6 form-group">
                <%= f.label :company_size, class: "label-control"%>
                <%= f.text_field :company_size, class: "form-control"%>
              </div>
              <div class="col-md-6 form-group">
                <%= f.label :country, class: "label-control"%>
                <%= f.text_field :country, class: "form-control"%>
              </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modal-footer">
          <button type="submit" class="btn-create-company btn btn-success"><%= t ".create" %></button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t ".close" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
