<tr data-status="pagado">
  <td>
    <%= load_user_avatar trainee, class: "img-circle trainee-avatar" %>
  </td>
  <td>
    <p class="title">
      <strong>
        <%= link_to trainee.name, user_path(trainee) %>
      </strong>
    </p>
    <p class="summary"><%= trainee.email %></p>
  </td>
  <td>
    <% if trainee.info_user_birthday %>
      <%= l trainee.info_user_birthday, format: :format_date_eng %>
    <% else %>
      <%= t "employer.trainees.no_data" %>
    <% end %>
  </td>
  <td>
    <% if trainee.info_user_occupation %>
      <%= trainee.info_user_occupation %>
    <% else %>
      <%= t "employer.trainees.no_data" %>
    <% end %>
  </td>
  <td>
    <%= trainee.info_user_phone ? trainee.info_user_phone : t("employer.trainees.no_data") %>
  </td>
  <td id="follow-trainee-<%= trainee.id %>">
    <%= render "follow_trainee", trainee: trainee %>
  </td>
</tr>
