<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <ol class="breadcrumb-arrow">
        <li>
          <%= link_to t(".courses"), user_path(user),
            class: "course-user", data: {"user-id": user.id} %>
        </li>
        <li>
          <%= link_to course.name, user_course_path(user.id, course.id),
            class: "course-user",
            data: {"user-id": user.id, "course-id": course.id} %>
        </li>
        <li><a><%= subject.subject_name %></a></li>
      </ol>
    </div>

    <div class="course-subject">
      <div class="image-course">
        <img src="<%= check_language course %>">
      </div>
      <div class="course-header">
        <div>
          <span class="title_course"><%= subject.subject_name %></span>
          <span class="status"><%= subject.status %></span>
        </div>
        <div class="date">
          <% if subject.start_date? && subject.end_date? %>
            <span>
              <%= l subject.start_date, format: :format_date_eng %> ~
              <%= l subject.end_date, format: :format_date_eng %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <h4><%= t ".tasks" %><%= subject.subject_name %></h4>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
          </div>
          <div class="x_content">
            <%= render partial: "tasks/task", collection: tasks, locals: {user: user} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
