<%= render "users/header", user: @user, user_object: @user_object %>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <article class="post show-tab-user">
          <div class="clearfix">
            <% if @user.is_user? current_user %>
              <div class="clearfix hide-tab" id="tab-suggest-job">
                <%= render "users/user_job", user: @user, user_object: @user_object %>
              </div>
            <% end %>
            <div class="hide-tab active" id="tab-information">
              <%= render "subjects/subject_details", user: @user,
                course: @course, subject: @user_course_subject,
                tasks: @user_tasks %>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-3">
        <article class="post show-tab-user">
          <%= tms_synchronize_button %>
          <%= render "users/social_network", user: @user, info_user: @info_user %>
        </article>
      </div>
    </div>
  </div>
</section>
<%= render "users/user_info" %>
