<div class="right_col" role="main">
  <div class="page-title">
    <div class="title_left">
      <ol class="breadcrumb-arrow">
        <li>
          <%= link_to t(".courses"), user_path(user),
            class: "course-user", data: {"user-id": user.id} %>
        </li>
        <li><a> <%= course.name %></a></li>
      </ol>
    </div>

    <div class="course-subject">
      <div class="image-course">
        <img src="<%= check_language course %>">
      </div>
      <div class="course-header">
        <div>
          <span class="title_course"><%= course.name %></span>
          <span class="status"><%= course.status %></span>
        </div>
        <div class="date">
          <% if course.start_date? && course.end_date? %>
            <span>
              <%= l course.start_date, format: :format_date_eng %> ~
              <%= l course.end_date, format: :format_date_eng %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <h4><%= t ".subjects" %><%= course.name %></h4>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
          </div>
          <div class="x_content">
            <% subjects.each do |course_subject| %>
              <%= render "course_detail", course_subject: course_subject, course: course %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
