<ul class="timeline">
  <li>
    <% if course_subject.start_date? %>
      <div class="tldate">
        <%= l course_subject.start_date, format: :format_date_eng %>
      </div>
    <% end %>
  </li>
  <li class="timeline-inverted">
    <div class="tl-circ <%= status_color(course_subject.status)[6..-1] %>"
      class="tooltip" role="tooltip" data-toggle="tooltip"
      title="<%= course_subject.status %>">
    </div>
    <div class="timeline-panel">
      <div class="tl-heading">
        <div class="image-subject">
          <img src="<%= check_language course %>">
        </div>
        <div class="title_subject">
          <%= link_to course_subject.subject_name,
            user_course_subject_path(@user.id, @course.id,course_subject.id),
            class: "subject-all", data: {"user-id": @user.id,
              "course-id": course.id, "subject-id": course_subject.id} %>
        </div>
      </div>
      <div class="tl-body">
        <%= course_subject.subject_description %>
      </div>
    </div>
  </li>
  <li>
    <% if course_subject.end_date? %>
      <div class="enddate">
        <%= l course_subject.end_date, format: :format_date_eng %>
      </div>
    <% end %>
  </li>
</ul>
