<p><%= t ".hello" %><%= @email %>!</p>

<p><%= t ".someone" %></p>

<p>
  <%= link_to t(".change_my_password"),
    edit_user_password_url(reset_password_token: @token) %>
</p>

<p><%= t ".if_you" %></p>
<p><%= t ".your_password" %></p>
